<!DOCTYPE html>
<html>
<head>
    <title> {{#block "title"}}Technology Division{{/block}} </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a> </li>
    <li role="presentation" class="active"><a href="/dept/new">Departments</a> </li>
    <li role="presentation" class="active"><a href="/section/new">Sections</a> </li>
    <li role="presentation" class="active"><a href="/staff/new">Add Staff</a> </li>

</ul>
<div class="container">
    <div class="page-header">
        <h1>Welcome to Technology. <small>To digital revolution!</small></h1>
        {{#block "header"}}

        {{/block}}
    </div>
    <div class="col-md-12">
        {{#block "content"}}

        {{/block}}
    </div>

</div>

{{#block "footer"}}
<!--    <img class="header-image" src="/images/adult-communication-conference-room-1367271.jpg" width="100%">-->
    </body>
    </html>
{{/block}}
