{{#partial "content"}}
    <h1>Section Detail</h1>
    <h3 class="list-group-item list-group-item-action list-group-item-info">{{section.section}}</h3>
    <a href="/section/{{section.id}}/update" class="btn btn-info">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>

{{/partial}}

{{> layout.hbs}}