{{#partial "content"}}
    <h1>Success!</h1>

    The department has been added successfuly.

    <a href="/dept/new">Go Back</a>
    <br>
    <a href="/">Go Home</a>

    <hr>
    <h1>Department List</h1>
    {{#if departments}}
        <p>{{dept-name}}</p>
    {{/if}}

{{/partial}}

{{>layout.hbs}}